.footer{
   max-width: 1300px;
   margin: auto;
}

.footer_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px;
}
.footer_column > ul {
    list-style: none;
}
.footer_column > ul > li {
    padding: 5px 0px;
}
.footer_column > ul > li > a  {
    padding: 10px 4px;
    Font-size: 14px;
    text-decoration: none;
    line-height: 18px;
   color: rgb(72, 72, 72);
   font-weight: 400;
   cursor: pointer;
   text-transform: capitalize;
} 
.footer_column > ul > li > a:hover{
   text-decoration: underline;
}
.footer_column > h2{
    font-weight: 500;
    text-transform: uppercase;
}
.copywrite{
    text-align: center;
    color: rgb(72, 72, 72);
    padding: 10px;

}

