.select_date{
   
    position: absolute;
    top: 35px;
    left: 25%;
    border:1px solid lightgray;
    z-index: 3;
}
.guest{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    vertical-align: center;
    background-color: white;
    
}
.input_guest{
    border:0;
    width: 100%;
    outline:none;
    padding: 15px 0px;
    
}
.select_date > button{
    width: 100%;
    background-color: #FF5A5F;
    color: white;
    text-transform: inherit;
}
.select_date > button:hover{
    background-color: white;
    color:#FF5A5F ;
}